.spot-preview-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    margin: 20px 30px;
}

.spot-preview {
    border: 1px solid grey;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 2fr .5fr .5fr;
    margin-top: 10px;
    overflow: hidden;
    cursor: pointer;
}

.spot-preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.spot-preview-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10px;
}

.spot-preview-details p {
    margin-top: 20px;
}

.spot-preview-price {
    font-size: 16px;
    margin: 20px 10px;
}

em {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
}

.spot-preview-update-delete {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 15px;
    margin-bottom: 20px;
}

.spot-preview-update-delete button {
    height: 30px;
    width: 35%;
}

.home {
    transition: transform 0.3s ease;

}

.home:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}