a,
article,
body,
button,
div,
fieldset,
footer,
form,
h1,
h2,
h3,
h4,
header,
html,
i,
img,
input,
label,
li,
main,
nav,
p,
section,
small,
span,
strong,
textarea,
time,
ul {
  background: transparent;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: none;
  vertical-align: inherit;
}

img {
    display: block;
    height: auto;
    width: 100%;
  }
  
button,
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="text"],
textarea {
/*
Get rid of native styling. Read more here:
http://css-tricks.com/almanac/properties/a/appearance/
*/
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
}

html {
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

button,
input[type="submit"] {
  cursor: pointer;
}

button {
    border: 1px solid black;
    border-radius: 20px;
    background: rgb(168, 63, 24);
    color: white;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: rgb(255, 183, 0);
    color: black;
}

ul {
    list-style: none;
}