.login-wrapper {
    font-family: sans-serif;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    width: 100%; 
    padding: 15px 0;
}

.login-wrapper h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-form-div {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    width: 75%;
    height: 25%;
    margin: 10px 0;
}

.login-form-error-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25px;
}

.login-form-input {
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    height: 25px;
    padding-left: 10px;
}

.login-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    
}

.login-button {
    width: 75%;
    height: 25px;
}

.login-button {
    width: 75%;
    height: 25px;
}

.disabled {
   background-color: rgb(65, 62, 62);
   color: gray;
   cursor: not-allowed;
   opacity: .5;
}

.disabled:hover {
    background-color: rgb(65, 62, 62);
    color: gray;
    cursor: not-allowed;
    opacity: .5;
 }

.login-form-error-message {
    font-size: 14px;
    color: red;
}

#login-form-demo-user {
    cursor: pointer;
    color: red;
    display: flex;
    align-items: center;
    height: 25px;
}